*{background-color:#202020;
    font-size: 14px;
    }
    h1, h2, p{color: #00e6e6;
    font-size: 20px;
    }
    .header{font-family: Arial, Helvetica, sans-serif;}
    .Light{color:#b82be2}


.list ul{
    color: #00e6ad;
}